*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}
header{
    display: inline;
    
    padding: 10px 0;
}
.titulo{
    font-size: 60px;
    display: inline;
    position: relative;
    top:140px;
    left:220px;
    -webkit-text-stroke:#fff .9px;
}

.banner img{
    width: 78.5%;
    height: 350px;
    margin-left: 200px;
    object-fit: cover

}

nav{
    width: 200px;
    height: 50px;;
    
    position: relative;
    top: 510px;
}

nav a{

    margin: 30px 10px;
    display:inline-block;
    font-size: 20px;
    padding: 30px 0;
    position: relative;
    left: 220px;
}



.activo{
    
    color: #000;
    text-decoration:none;
    
    margin: 0 8px;
}

.inactivo{
    
    color: blue;
    
    
    margin: 0 8px
}

.subtitulo{
    font-size: 30px;
    display: block;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-left: 200px;
    width: 77.4%;
}
aside{
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 65%;
    bottom: 120px;
}

aside img{
    display: inline-block;
    margin-left: 200px;
    justify-content: flex-start;
}

main{
    margin-left: 100px;
    margin-right: 250px;
    position: relative;
    bottom: 130px;
    left: 400px;

    width: 1000px;
}

h3{
    font-style: italic;
}

p{
    text-indent: 20px;
}

footer{
    margin-left: 200px;
    margin-top: 50px;
    text-align: right;
    margin-right: 250px;
    padding-bottom: 50px;
}
