*{
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(141, 141, 141) 0%, rgb(168, 168, 168) 20%, rgba(255,255,255,1) 100%);
    
}

header{
    width: 100%;
    /* background-color: rgb(0,0,0); */
    background: black; 
    height: 180px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.titulo{
    font-size: 65px;
    font-weight: 800;
    display: inline;
    color: #fff;
    text-align: center;
    justify-items: center;   
}

/* nav mejorado */
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, 70%, rgb(108, 108, 108) 100%); 
    z-index: 1;
    margin-bottom: 10px;
    top: 0px;
    box-shadow:0px 30px 70px 0px black;
    position: sticky;
    top: 0px;
    margin-top: -55px;
    
}

nav a{
    width: 300px;
    display:inline-block;
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    

} 

aside {
    height: 200px;
    width: 200px;
    display: inline-block;
    justify-content: flex-start;
    position: relative;
    left: 15%;
    bottom: 150px;
    background-color:rgb(18, 76, 131);
    background: linear-gradient(180deg, rgba(18, 76, 131,1) 0%, rgba(9,22,121,1) 30%, rgb(168, 76, 0) 100%);
    border-radius: 20% 20% 130% 130%;
    border: rgb(0, 0, 0) 5px solid ;
}

aside img{
    display: inline-block;
    
}

/* 
Nav anterior
nav{
    
    height: 50px;
    position: relative;
    display: flex;
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
    
}

nav a{
    width: 300px;
    display:inline-block;
    font-size: 25px;
    font-weight: 600;
    padding: 30px 10px;
    padding-bottom: 0px;
    position: relative;
    left: 100px;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
} */



.activo{
    background-color: rgb(49, 115, 177);
    color: #fff;
    text-decoration:none;
    border-bottom: #fff 4px solid;
    margin: 0 8px;
    position: relative;
}


.inactivo{
    background-color:rgb(18, 76, 131);
    color: #fff;
    text-decoration:none;
    margin: 0 8px;
    position: relative; 
}
.banner{
    height: 350px;
    width: 78.5%;
    background-color: antiquewhite;
    margin-left: 200px;
}

.banner img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.subtitulo{
    font-size: 30px;
    font-weight: 600;
    display: block;
    background-color: black;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin-left: 200px;
    width: 78.5%;
    border-radius: 0px 0px 40px 40px;
}

main{
    margin-left: 150px;
    margin-right: 250px;
    position: relative;
    bottom: 150px;
    left: 400px;
    width: 1000px;
}

h3{
    width: auto;
    background: linear-gradient(90deg, rgba(18, 76, 131,1) 0%, rgba(9,22,121,1) 70%, rgb(168, 76, 0) 100%);
    border-radius: 80px 0% 0% 0% ;
    color: #fff;
    text-indent: 70px;
    font-style: italic;
    font-size: 25px;
    font-weight: 800;
}

p{
    text-indent: 60px;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    

}

footer{
    margin-left: 200px;
    margin-top: 100px;
    text-align: right;
    margin-right: 250px;
    font-size: 20px;
    padding: 50px;
}
.aclaration{
    text-decoration: underline;
    font-size: 15px;
    font-weight: 100;
}

table{
    background-color: rgb(101, 138, 138);
    color:#fff;
    text-align: center;
    position: relative;
    right: 80px;

}

th{
    padding: 15px 70px;
    background-color:rgb(18, 76, 131);
    font-size: 20px;    
}

td{
    padding: 10px 0px;
    background-color:rgb(30, 104, 173);
    font-size: 18px;
    
}

iframe{
    border-radius: 5px;
}
iframe:hover{
    width: 300px;
    height: 100px;
    border-radius: 10px;
}

h4{
    font-size: 20px;
    display: inline-block;
}

.p-info{
    font-size: 20px;
    font-weight: 100;
    display: inline-block;
    text-indent: 10px;
}

.h3-titulo span{
   position: relative;
    left: 80px;
}

li{
    text-indent: 10px;
    position: relative;
    left: 30px;;
}

form{
    padding: 2rem;
    background-color: rgb(150, 150, 153);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 25px 25px 6px -4px rgba(131, 128, 128,0.39);
    border-bottom: #727272 4px solid;
    border-right: #727272 4px solid;
    border-radius: 20px;

}

fieldset{
    padding: 1rem;
}
label{
    margin:0.5rem;
    padding: 8px 5px;
    font-weight: 600;
    
}


input{
    margin:0.5rem;
    padding: 8px 5px;
    padding-right: 20px;
    background-color: transparent;
    border:transparent;
    border-bottom:rgb(30, 104, 173) 2px solid;
    box-shadow: 0 6px 2px -2px rgb(131, 128, 128);
    
    
}
input[type='checkbox']{
    accent-color: red;
}
input[type='submit']{
    border: rgb(12, 74, 131) 2px solid;
    background: linear-gradient(180deg, rgb(100, 98, 189) 0%, rgb(26, 67, 145) 40%, rgb(23, 22, 65) 100%);
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
}
input[type='submit']:hover{
    background: linear-gradient(180deg, rgb(116, 114, 202) 0%,rgb(50, 85, 151) 40%,rgb(48, 46, 124) 100%);
}
input[type='submit']:active{
    transform: translateY(4px);
}
input[type='reset']{
    border: rgb(12, 74, 131) 2px solid;
    background: linear-gradient(180deg, rgb(100, 98, 189) 0%, rgb(26, 67, 145) 40%, rgb(23, 22, 65) 100%);
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
}
input[type='reset']:hover{
    background: linear-gradient(180deg, rgb(116, 114, 202) 0%,rgb(50, 85, 151) 40%,rgb(48, 46, 124) 100%);
}
input[type='reset']:active{
    transform: translateY(3px);
}
legend{
    padding: 10px;
    font-weight: 800;
    font-size: 22px;
}
